@import url("../App.css");

.main-game {
    background-color: var(--main);
    display: flex;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 2%;
}

.game-informations {
    display: flex;
    flex: 1;
}

.column-left {
    display: flex;
    flex-direction: column;
    flex: 5;
    margin-left: 5%;
    padding-top: 1%;
}

.column-right {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-around;
    margin-right: 5%;
}

.game-image {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 95.6%;
}

.column-left span {
    color: var(--light-white);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 95.6%;
}

.column-right span {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    align-self: flex-end;
}