@import url("../App.css");

.main-header {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10%;
    padding: 0 3% 0 3%;
}

.main-header button {
    color: black;
}