@import url("../App.css");

.main-list {
    background-color: var(--background);
}

.list-header {
    margin-left: 20px;
}

.list-header-title {
    margin-bottom: 20px;
}

.list-header input {
    width: 12%;
    padding-left: 12px;
}

.list-header input::placeholder {
    color: var(--light-white);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 95.6%;
}

.list-header-title span {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 95.6%;
    color: white;
}

.list-header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.list-header-sortby {
    display: flex;
    width: 20%;
    align-items: center;
}

.list-header-sortby span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 95.6%;
    color: white;
    margin-right: 20px;
    min-width: min-content;
}

.list-header-sortby select {
    flex: 1;
    margin-right: 20px;
    padding: 4px 4px 4px 12px;
    color: white;
}

.list-header-sortby select option {
    outline: none;
    border: none;
}

.list-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-content span {
    font-size: 36px;
}

.input {
    height: 40px;
    background-color: var(--secondary);
    border-radius: 15px;
    border: none;
    outline: none;
}